/* text.html */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: dimgray;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(80, 82, 158);
}

/* images.html */

.img_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img_grid_column {
    width: 24.5%;
    height: auto;
}

.img_grid_column img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .img_grid_column {
        width: 49%
    }
 }

@media screen and (max-width: 600px) {
    .img_grid_column {
        width: 100%
    }   
}

/* videos.html */

.video_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.video_grid_column {
    width: 33%;
}

.video_grid_column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .video_grid_column {
        width: 49%
    }
 }

@media screen and (max-width: 600px) {
    .video_grid_column {
        width: 100%
    }   
}

/* table.html */

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
}

table {
    width: 100%
}
