/* all pages */

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: dimgray;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:hover {
    background-color: rgb(80, 82, 158);
}

#navbar ul li a.active_page {
    background-color: rgb(80, 82, 158);
}

#top_button {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: dimgray;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#top_button:hover {
    background-color: rgb(80, 82, 158);
}

/* images.html */

.img_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img_grid_column {
    width: 24.5%;
    height: auto;
}

.img_grid_column img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .img_grid_column {
        width: 49%
    }
 }

@media screen and (max-width: 600px) {
    .img_grid_column {
        width: 100%
    }   
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
}

.modal_image {
    margin: auto;
    display: block;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 700px;
}

/* videos.html */

.video_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.video_grid_column {
    width: 33%;
}

.video_grid_column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .video_grid_column {
        width: 49%
    }
 }

@media screen and (max-width: 600px) {
    .video_grid_column {
        width: 100%
    }   
}

.videoModal0, .videoModal1, .videoModal2, .videoModal3, .videoModal4 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
}

#iframe_holder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 70%;
}

/* table.html */

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
}

table {
    width: 100%
}
